# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
bvenv/
.env

# Node / Frontend
frontend/node_modules/
frontend/dist/
.npm
.eslintcache

# Docker
Dockerfile

# Others
.DS_Store
logs/
audio/
model files/
test_files/
tmp/
